Repository LG-URECA-FINAL-TEAM8/filmeet-frontend, pull requests merged in 2024-12, with the labels that each got.

#41 [feat] 로그인 및 회원가입 기능 구현
  package.json
  src/App.jsx
  src/apis/auth/auth.js
  src/apis/auth/queries.js
  src/apis/getMovies/movies.js
  src/apis/getMovies/queries.js
  src/apis/users/queries.js
  src/apis/users/user.js
  src/components/Common/header/Header.jsx
  src/components/Common/modal/userModal.jsx
  src/components/Common/poster/Poster.jsx
  src/components/Features/auth/AuthInput.jsx
  src/components/Features/auth/AuthMessage.jsx
  src/components/Features/auth/AuthTitle.jsx
  src/components/Features/auth/Authbutton.jsx
  src/components/Features/auth/Authlink.jsx
  src/components/Features/auth/ModalInput.jsx
  src/components/Layout/DefaultLayout.jsx
  src/data/auth/input.js
  src/data/pagecontents.js
  src/hooks/auth/useSignUpMutation.js
  src/pages/Main.jsx
  src/pages/auth/Login.jsx
  src/pages/auth/Register.jsx
  src/routes/router.jsx
  src/store/auth/authStore.js
  src/store/auth/loginStore.js
  src/store/modal/useModalStore.js
  src/store/user/userStore.js
  src/utils/auth/authHandler.js
  yarn.lock
Labels: 지욱, feat, fix, refactor, delete

#28 [feat] 마이페이지 컬렉션 퍼블리싱
  public/assets/Circle.svg
  public/assets/Search.svg
  src/assets/svg/Circle.jsx
  src/assets/svg/Option.jsx
  src/assets/svg/Search.jsx
  src/assets/svg/index.jsx
  src/components/Collections/CollectionDetail.jsx
  src/components/Collections/CollectionList.jsx
  src/components/Collections/CollectionsOverview.jsx
  src/components/Collections/CreateCollection.jsx
  src/components/Collections/EditCollection.jsx
  src/components/Collections/NoResult.jsx
  src/components/Common/modal/CollectionsDeleteModal.jsx
  src/components/Common/modal/MovieSearchModal.jsx
  src/components/Common/poster/ModalList.jsx
  src/data/collections.js
  src/pages/mypage/CollectionsPage.jsx
  src/pages/mypage/collectionpage/CollectionCreatePage.jsx
  src/pages/mypage/collectionpage/CollectionDetailPage.jsx
  src/pages/mypage/collectionpage/CollectionEditPage.jsx
  src/pages/mypage/collectionpage/CollectionsPage.jsx
  src/routes/router.jsx
  src/store/collections/useCollectionsDeleteStore.js
  src/store/collections/useCollectionsMenuStore.js
  src/store/collections/useCollectionsStore.js
  src/styles/collectionspage/collections.js
  src/styles/themes.js
Labels: 성혁, style, feat

#46 [style] 선호장르페이지 퍼블리싱
  src/components/Genere/AgeButton.jsx
  src/components/Genere/AgeSection.jsx
  src/components/Genere/GenereButton.jsx
  src/components/Genere/GenereSection.jsx
  src/components/Genere/MbtiButton.jsx
  src/components/Genere/MbtiSection.jsx
  src/components/Genere/ProceedButton.jsx
  src/data/generedata.js
  src/pages/generepage.jsx
  src/routes/router.jsx
  src/store/genere/useGenereStore.js
  src/styles/genere/genere.js
  src/styles/themes.js
Labels: 성혁, style, feat

#45 [style] 팔로잉, 팔로워, 알람 히스토리 페이지 퍼블리싱
  src/components/AlarmHistoryList.jsx
  src/components/Common/back/TopHeader.jsx
  src/components/Follow/FollowerList.jsx
  src/components/Follow/FollowingList.jsx
  src/components/Profile/ProfileHeader.jsx
  src/data/alarmhistory.js
  src/data/followers.js
  src/data/followings.js
  src/pages/AlarmHistoryPage.jsx
  src/pages/followpage/FollowerPage.jsx
  src/pages/followpage/FollowingPage.jsx
  src/routes/router.jsx
  src/store/follow/followStore.js
  src/styles/alarmhistory/alarmhistory.js
  src/styles/follow/follow.js
  src/styles/profile/profile.js
  src/styles/rating/rating.js
  src/styles/themes.js
Labels: 기현, style

#51 [style] 에러페이지 퍼블리싱
  src/components/error/ErrorContent.jsx
  src/pages/errorpage/ErrorPage.jsx
  src/routes/router.jsx
  src/styles/error/error.js
Labels: 성혁, style, feat

#54 [fix] : 폴더이름 소문자 변경
  src/components/Rating/MovieRatingList.jsx
  src/components/Rating/MovieRatingSections.jsx
  src/pages/followpage/FollowerPage.jsx
  src/pages/followpage/FollowingPage.jsx
  src/pages/generepage.jsx
  src/pages/mypage/MyPage.jsx
  src/pages/mypage/collectionpage/CollectionCreatePage.jsx
  src/pages/mypage/collectionpage/CollectionDetailPage.jsx
  src/pages/mypage/collectionpage/CollectionEditPage.jsx
  src/pages/mypage/collectionpage/CollectionsPage.jsx
  src/pages/mypage/commentpage/CommentsDetailPage.jsx
  src/pages/mypage/ratingpage/AllMoviesByRatingsPage.jsx
  src/pages/mypage/ratingpage/MovieRatingsPage.jsx
  src/pages/mypage/ratingpage/RatingsPage.jsx
Labels: 성혁, fix

#50 [style] 평가하기 페이지 퍼블리싱
  package.json
  src/components/StarRating/StarRatingBody.jsx
  src/components/StarRating/StarRatingHeader.jsx
  src/data/starratingdata.js
  src/pages/StarRatingPage.jsx
  src/routes/router.jsx
  src/store/starrating/useStarRatingStore.js
  src/styles/starrating/starrating.js
  yarn.lock
Labels: 기현, style

#68 [peft] router 코드 개선
  src/routes/router.jsx
Labels: 지욱, perf

#61 [feat] 회원가입 유효성 검사 기능 및 선호장르 입력기능
  public/assets/NaverLogo.svg
  src/apis/auth/auth.js
  src/apis/auth/queries.js
  src/assets/svg/Circle.jsx
  src/assets/svg/NaverLogo.jsx
  src/assets/svg/index.jsx
  src/components/common/message/Message.jsx
  src/components/features/auth/Authbutton.jsx
  src/components/genere/AgeButton.jsx
  src/components/genere/AgeSection.jsx
  src/components/genere/GenereButton.jsx
  src/components/genere/GenereSection.jsx
  src/components/genere/MbtiButton.jsx
  src/components/genere/ProceedButton.jsx
  src/data/generedata.js
  src/pages/GenrePage.jsx
  src/pages/Main.jsx
  src/pages/auth/Login.jsx
  src/pages/auth/Register.jsx
  src/routes/router.jsx
  src/store/auth/errorStore.js
  src/store/collections/useCollectionsDeleteStore.js
  src/store/genere/useGenereStore.js
  src/styles/auth/auth.js
  src/utils/auth/authHandler.js
  src/utils/auth/registerHandler.js
  src/utils/auth/socialLoginHandler.js
  src/utils/auth/updatePreference.js
Labels: 지욱, feat

#70 [style] 영화 상세페이지 퍼블리싱
  src/components/common/modal/MovieDetailModal.jsx
  src/components/features/movieDetail/Banner.jsx
  src/components/features/movieDetail/CastAndCrew.jsx
  src/components/features/movieDetail/Content.jsx
  src/components/features/movieDetail/MiniComment.jsx
  src/components/features/movieDetail/MovieComment.jsx
  src/components/features/movieDetail/MovieMoreComment.jsx
  src/data/comments.js
  src/data/moviedetail.js
  src/pages/movieDetail/MovieComment.jsx
  src/pages/movieDetail/MovieDetail.jsx
  src/routes/router.jsx
  src/store/moviedetail/useMovieCommentStore.js
  src/styles/moviedetail/moviedetail.js
Labels: 기현, style

#72 [feat] 마이 페이지 첫 페이지 유저정보 동기화
  src/apis/myPage/queries.js
  src/apis/myPage/userNetwork.js
  src/components/profile/ProfileHeader.jsx
  src/pages/mypage/MyPage.jsx
  src/utils/auth/socialLoginHandler.js
Labels: 지욱, feat

#64 [feat] main 페이지 api 패칭
  src/apis/getMovies/movies.js
  src/apis/getMovies/queries.js
  src/apis/reviews/queries.js
  src/apis/reviews/review.js
  src/components/common/header/Header.jsx
  src/components/common/poster/Poster.jsx
  src/components/features/comments/Comment.jsx
  src/components/features/comments/HotFeed.jsx
  src/pages/Main.jsx
Labels: 지욱, feat

#79 [feat] 소셜로그인
  public/assets/GoogleLogo.svg
  src/assets/svg/GoogleLogo.jsx
  src/assets/svg/index.jsx
  src/components/common/modal/LogoutModal.jsx
  src/components/genere/ProceedButton.jsx
  src/components/profile/ProfileHeader.jsx
  src/pages/GenrePage.jsx
  src/pages/Main.jsx
  src/pages/StarRatingPage.jsx
  src/pages/auth/Login.jsx
  src/utils/auth/paraMeterHandler.js
  src/utils/auth/socialLoginHandler.js
  src/utils/auth/updatePreference.js
Labels: 지욱, feat

#84 [feat] 무한스크롤 및 평가하기 헤더 데이터 패칭
  src/apis/getMovies/queries.js
  src/components/starRating/StarRatingHeader.jsx
Labels: 지욱, feat, refactor

#88 [feat] bin page 기능 구현
  src/components/common/bin/Bin.jsx
Labels: feat

#90 [feat] 장르별 페이지 퍼블리싱 및 기능 구현
  src/apis/getMovies/movies.js
  src/apis/getMovies/queries.js
  src/data/header/header.js
  src/data/main/text.js
  src/pages/main/GenreMovie.jsx
  src/routes/router.jsx
Labels: 지욱, feat

#66 [feat] 알림 기능구현
  eslint.config.js
  package.json
  public/firebase-messaging-sw.js
  src/App.jsx
  src/components/common/bin/Bin.jsx
  src/components/features/auth/Authbutton.jsx
  src/components/firebase/PushNotification.jsx
  src/components/profile/ProfileHeader.jsx
  src/firebase/firebase.js
  src/firebase/registerToken.js
  src/pages/followpage/FollowerPage.jsx
  src/pages/followpage/FollowingPage.jsx
  src/routes/router.jsx
  src/utils/auth/authHandler.js
  src/utils/fcm/fcmTokenHandler.js
  vite.config.js
  yarn.lock
Labels: 지욱, 기현, feat

#94 [fix] 영화 상세 페이지 필드값 변경
  src/components/features/movieDetail/Content.jsx
Labels: 지욱, fix

#96 [feat] mypage 수정
  src/apis/myPage/comment/comment.js
  src/apis/myPage/comment/queries.js
  src/apis/myPage/rating/queries.js
  src/apis/myPage/rating/rating.js
  src/components/features/comments/Comment.jsx
  src/components/features/movieDetail/MiniComment.jsx
  src/components/profile/ProfileHeader.jsx
  src/components/profile/Stats.jsx
  src/components/rating/ByRatingList.jsx
  src/components/rating/MoreRatingMovies.jsx
  src/components/rating/MovieRatingList.jsx
  src/components/rating/MovieRatingSections.jsx
  src/components/rating/Rating.jsx
  src/pages/movieDetail/MovieDetail.jsx
  src/pages/userpage/userPage.jsx
  src/routes/router.jsx
Labels: 지욱, feat

#107 [style] 검색바 만들기
  src/components/Searchbar.jsx
  src/components/common/header/Header.jsx
Labels: style

#105 [feat] 검색기능 구현
  src/apis/follow/query.js
  src/apis/myPage/collection/queries.js
  src/components/AlarmHistoryList.jsx
  src/components/Searchbar.jsx
  src/components/common/header/Header.jsx
  src/components/common/poster/Poster.jsx
  src/components/common/searchbar/Searchbar.jsx
  src/components/features/comments/HotFeed.jsx
  src/components/follow/FollowerList.jsx
  src/components/follow/FollowingList.jsx
  src/components/rating/ByRatingList.jsx
  src/components/rating/MoreRatingMovies.jsx
  src/components/rating/MovieRatingList.jsx
  src/components/rating/MovieRatingSections.jsx
  src/components/worldcup/WorldcupFooter.jsx
  src/components/worldcup/WorldcupHeader.jsx
  src/pages/Main.jsx
  src/routes/router.jsx
  src/store/searchbar/useSearchBarStore.js
Labels: 지욱, feat, fix

#104 [feat] 메인 Carousel
  public/assets/1987.svg
  public/assets/DP2.svg
  public/assets/Kingdom.svg
  public/assets/busan.svg
  public/assets/hidden.svg
  public/assets/jung.svg
  src/assets/svg/Dp2.jsx
  src/assets/svg/Hidden.jsx
  src/assets/svg/Kingdom.jsx
  src/assets/svg/index.jsx
  src/components/common/footer/Footer.jsx
  src/data/carouselmovie.js
  src/pages/Main.jsx
  src/styles/main/main.js
  src/styles/rating/rating.js
Labels: 기현, style, feat

#63 feat: addmovie api 연동
  public/assets/ImagePreview.svg
  src/apis/admin/addMovie.js
  src/apis/admin/deleteMovie.js
  src/apis/admin/editMovie.js
  src/apis/admin/movieRecommend.js
  src/apis/admin/queries.js
  src/apis/admin/reviewBlind.js
  src/apis/admin/searchMovies.js
  src/apis/admin/selectMovie.js
  src/apis/admin/showReviewList.js
  src/apis/admin/uploadPoster.js
  src/assets/svg/ImagePreview.jsx
  src/components/common/admin/AddMovie.jsx
  src/components/common/admin/AvgRatingBadge.jsx
  src/components/common/admin/LikeBadge.jsx
  src/components/common/admin/LikeManagement.jsx
  src/components/common/admin/MovieManagement.jsx
  src/components/common/admin/RankManagement.jsx
  src/components/common/admin/RankTransferList.jsx
  src/components/common/admin/ReviewerBadge.jsx
  src/components/common/header/AdminHeader.jsx
  src/components/common/modal/AdminEditModal.jsx
  src/data/admintableheaders.js
  src/pages/admin/AdminPage.jsx
  src/routes/router.jsx
  src/store/admin/useMovieStore.js
  src/store/admin/usePageStore.js
  src/store/admin/usePaginationStore.js
  src/store/admin/useSelectionStore.js
  src/store/modal/useAdminModalStore.js
  src/styles/admin/adminpage.jsx
  src/styles/themes.js
  src/utils/admin/addMovieUtils.js
  src/utils/admin/editModalUtils.js
  src/utils/admin/likeManagementUtils.js
  src/utils/admin/movieManagementUtils.js
  src/utils/admin/rankManagementUtils.js
  src/utils/admin/rankTransferListUtils.js
  src/utils/auth/authHandler.js
Labels: 주섭, feat

#109 [feat] 관리자 추천영화 기능 구현
  src/apis/getMovies/movies.js
  src/apis/getMovies/queries.js
  src/pages/Main.jsx
Labels: 지욱, feat
