Repository LG-URECA-FINAL-TEAM8/filmeet-frontend, pull requests merged in 2024-11, with the labels that each got.

#9 [init] : 프로젝트 생성
  .gitignore
  .prettierrc
  README.md
  eslint.config.js
  index.html
  package.json
  public/.keep
  src/App.css
  src/App.jsx
  src/apis/auth/.keep
  src/assets/.keep
  src/components/Common/button/Button.jsx
  src/components/Common/header/Header.jsx
  src/components/Features/.keep
  src/components/Layout/DefaultLayout.jsx
  src/hooks/.keep
  src/index.css
  src/main.jsx
  src/pages/Main.jsx
  src/routes/router.jsx
  src/store/.keep
  src/styles/GlobalStyle.js
  src/styles/main/main.js
  src/styles/themes.js
  src/utils/.keep
  vite.config.js
  yarn.lock
Labels: style, init

#19 [style] Login Modal 퍼블리싱
  src/components/Common/modal/userModal.jsx
  src/components/Features/auth/AuthMessage.jsx
  src/components/Features/auth/AuthTitle.jsx
  src/components/Features/auth/Authbutton.jsx
  src/components/Features/auth/Authlink.jsx
  src/components/Features/auth/ModalInput.jsx
Labels: 성혁, style

#18 [style] 지금 뜨는 커멘트 컴포넌트 퍼블리싱
  .github/PULL_REQUEST_TEMPLATE.md
  src/components/Common/header/Button.jsx
  src/components/Common/header/Header.jsx
  src/components/Features/comments/HotFeed.jsx
  src/components/Features/main/poster/Poster.jsx
  src/components/Features/main/title/Title.jsx
  src/pages/Main.jsx
  src/styles/themes.js
Labels: 지욱, style, feat

#21 [style] MyPage 퍼블리싱
  package.json
  src/components/Profile/ProfileHeader.jsx
  src/components/Profile/Stats.jsx
  src/pages/mypage/CollectionsPage.jsx
  src/pages/mypage/CommentsPage.jsx
  src/pages/mypage/MyPage.jsx
  src/pages/mypage/RatingsPage.jsx
  src/routes/router.jsx
  src/styles/profile/profile.js
  yarn.lock
Labels: 기현, style

#26 [init] : 재사용 포스터 컴포넌트 생성
  index.html
  src/App.jsx
  src/components/Common/header/Header.jsx
  src/components/Common/movie/DefaultPoster.jsx
  src/components/Common/poster/Poster.jsx
  src/components/Features/auth/Authbutton.jsx
  src/components/Features/main/poster/Poster.jsx
  src/data/moives.json
  src/data/movies.js
  src/pages/Main.jsx
  src/routes/router.jsx
  src/styles/GlobalStyle.js
  src/styles/main/main.js
  src/utils/poster/posterGroup.js
Labels: 지욱, feat

#32 [fix]: build 에러 해결
  src/components/Common/header/Button.jsx
  src/components/Common/header/Header.jsx
  src/components/Common/modal/userModal.jsx
  src/components/Common/poster/Poster.jsx
  src/components/Features/auth/AuthMessage.jsx
  src/components/Features/auth/AuthTitle.jsx
  src/components/Features/auth/Authbutton.jsx
  src/components/Features/auth/Authlink.jsx
  src/components/Features/auth/ModalInput.jsx
  src/components/Profile/ProfileHeader.jsx
  src/components/Profile/Stats.jsx
  src/pages/Main.jsx
  src/pages/mypage/CollectionsPage.jsx
  src/pages/mypage/CommentsPage.jsx
  src/pages/mypage/MyPage.jsx
  src/pages/mypage/RatingsPage.jsx
Labels: 지욱, fix

#38 [chore] svgr 설정
  eslint.config.js
  package.json
  public/assets/ic_like_filled_24.svg
  public/assets/ic_reply_filled_24.svg
  src/assets/main_post__image.jpg
  src/assets/svg/IcLikeFilled24.jsx
  src/assets/svg/IcReplyFilled24.jsx
  src/assets/svg/index.jsx
  src/components/Features/comments/HotFeed.jsx
  vite.config.js
  yarn.lock
Labels: 지욱, fix, chore

#27 [style] 평가 페이지 퍼블리싱
  src/components/Common/poster/Poster.jsx
  src/components/Rating/ByRatingList.jsx
  src/components/Rating/MoreRatingMovies.jsx
  src/components/Rating/MovieRatingList.jsx
  src/components/Rating/MovieRatingSections.jsx
  src/components/Rating/Rating.jsx
  src/data/movies.js
  src/data/pagecontents.js
  src/pages/mypage/RatingsPage.jsx
  src/pages/mypage/ratingpage/AllMoviesByRatingsPage.jsx
  src/pages/mypage/ratingpage/MovieRatingsPage.jsx
  src/pages/mypage/ratingpage/RatingsPage.jsx
  src/routes/router.jsx
  src/store/rating/useRatingsStore.js
  src/styles/rating/rating.js
  src/utils/ratings/groupMoviesRatings.js
  src/utils/ratings/navigationHandlers.js
Labels: 기현, style, feat

#40 [fea] 회원가입 기능 및 ThemeProvider 적용
  eslint.config.js
  src/App.jsx
  src/apis/auth/auth.js
  src/components/Common/header/Button.jsx
  src/components/Common/header/Header.jsx
  src/components/Common/modal/userModal.jsx
  src/components/Common/poster/Poster.jsx
  src/components/Features/auth/AuthMessage.jsx
  src/components/Features/auth/AuthTitle.jsx
  src/components/Features/auth/Authbutton.jsx
  src/components/Features/auth/Authlink.jsx
  src/components/Features/auth/ModalInput.jsx
  src/components/Features/comments/HotFeed.jsx
  src/components/Features/main/title/Title.jsx
  src/components/Profile/Stats.jsx
  src/hooks/auth/useSignUpMutation.js
  src/pages/Main.jsx
  src/store/auth/authStore.js
  src/styles/main/main.js
  src/styles/profile/profile.js
  src/styles/rating/rating.js
  src/styles/themes.js
Labels: 지욱, style, feat, refactor, delete
